/* @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap');

h1 {
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 59px;
  margin: 8px;
  font-weight: 400;
}

h2 {
  font-family: 'Dancing Script';
  font-size: 36px;
  font-weight: 400;
  margin: 15px;
}

p {
  margin: 0;
  font-size: 26px;
}

img {
  width: 100%;
}

body {
  background-color: rgba(95, 158, 160, 0.411);
  font-family: 'Lato';
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.textBox {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-size: 32px;
  border: 2px solid black;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.692);
  color: black;
}

#button {
  background-color: rgba(159, 98, 96, 0.829);
  border: none;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
}

button:hover {
  background-color: rgb(159, 98, 96);
  cursor: pointer;
}

.story {
  margin: 15px;
  font-size: 18px;
}